/* Remove default button styles from calendar */
.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: inherit !important;
}
.react-calendar__tile {
  padding: 10px 0 !important;
}
.react-calendar__tile--active {
  background: #4f46e5 !important; /* Indigo-600 */
  color: white !important;
  border-radius: 8px;
}
.react-calendar__tile--now {
  background: #eef2ff !important;
  color: #4f46e5 !important;
  border-radius: 8px;
  font-weight: bold;
}